[submodule "themes/nightfall"]
	path = themes/nightfall
	url = https://github.com/LordMathis/hugo-theme-nightfall
[submodule "themes/uni"]
	path = themes/uni
	url = https://github.com/devcows/hugo-universal-theme
